


body{
    background-color:orange;}
table{
    float:right;}
.left {
      
      height:100;
width:400;
    border: 3px solid #73AD21;
    padding: 10px;
     background-color:white;
    float: left;
    left:400px;
    
}
.right {
     
    float: right;
font-color:white;
   height:100;
width:300;
    border: 3px solid #73AD21;
    padding: 10px;
background-color:red;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    
}